jobs:
  - job: demo_app
    pool:
      vmImage: ubuntu-latest
    steps:
      - checkout: self
        displayName: checkout self
      - task: Gradle@2
        displayName: tasks
        inputs:
          gradleWrapperFile: gradlew
          tasks: :demo:tasks
      - task: Gradle@2
        displayName: assembleNoDecoderExtensions
        inputs:
          gradleWrapperFile: gradlew
          tasks: :demo:assembleNoDecoderExtensions
          options: --info
      - task: CopyFiles@2
        displayName: copy files
        inputs:
          Contents: "**/*.apk"
          TargetFolder: $(Build.ArtifactStagingDirectory)
      - publish: $(Build.ArtifactStagingDirectory)
        artifact: demo_app
        displayName: publish
